.modal__contenedor{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
}

.modal__paper{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 30%;
  width: 30%;
}